<div>
  <br>
  <strong>Functions:</strong>
  <br>
  <div>
    {% if annotation and annotation.get('functions') %}
      {% for function in annotation['functions'] %}
        {{function['category']}}
        {% if annotation.get('tailoring') %}
          ({{", ".join(annotation['tailoring'])}})
        {% endif %}
        {% for evidence in function['evidence'] %}
          <span class='mibig-gf-evidence-{{evidence[0]}}' title='{{evidence}}'>{{evidence[0]}}</span>
        {% endfor %}
      {% endfor %}
    {% else %}
      -
    {% endif %}
  </div>
</div>