<div class="details">
    <div class="heading">
        <span>Chemical products information</span>
    </div>
    <div>
        {% for compound in compounds %}
        <div style="margin-bottom: 0.25em;">
            <table border="1" style="width: 100%">
                <tbody>
                    <tr style="font-size: 14pt;">
                    {% set keys = compound["keys"] %}
                    {% if compound.get("chem_struct") %}
                    <td rowspan="{{keys|length + 1}}" width="30%" style="text-align: center; vertical-align:middle;">
                        <canvas width="100%" class="smiles-canvas" data-smiles="{{compound['chem_struct']}}"></canvas>
                        <div class="focus-clipboard">
                            <span class="clipboard-copy" data-seq="{{compound['chem_struct']}}">Copy SMILES</span>
                        </div>
                    </td>
                    {% else %}
                    <td rowspan="{{keys|length + 1}}" width="30%">
                        <div width="100%" style="text-align: center; vertical-align:middle;">(no structure information available)</div>
                    </td>
                    {% endif %}
                    <td colspan="2" style="vertical-align: text-top;">
                        <strong>{{compound["compound"]}}</strong>
                        {% if compound.get("chem_synonyms") %}
                        [<a href="javascript: alert('This compound is also known as: {{'; '.join(compound['chem_synonyms'])}}');">synonyms</a>]
                        {% endif %}
                    </td>
                    </tr>
                    {% if "molecular_formula" in compound %}
                    <tr>
                        <td width="25%" style="vertical-align: text-top;">
                            <strong>Molecular Formula</strong>
                        </td>
                        <td style="vertical-align: text-top;">
                            {{compound["molecular_formula"]}}
                        </td>
                    </tr>
                    {% endif %}
                    {% if compound.get("database_id", []) %}
                    <tr>
                        <td width="25%" style="vertical-align: text-top;">
                            <strong>References</strong>
                        </td>
                        <td style="vertical-align: text-top;">
                            {% for ref in compound["database_id"] %}
                            {% set db_id = ref.split(':')[1] %}
                            {% if ref.startswith("pubchem:") %}
                            <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{db_id}}">PubCHEM</a>&nbsp;&nbsp;
                            {% elif ref.startswith("chebi:") %}
                            <a href="https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI%3A{{db_id}}">ChEBI</a>&nbsp;&nbsp;
                            {% elif ref.startswith("chembl:") %}
                            <a href="https://www.ebi.ac.uk/chembl/compound_report_card/CHEMBL{{db_id}}">ChEMBL</a>&nbsp;&nbsp;
                            {% elif ref.startswith("chemspider:") %}
                            <a href="http://www.chemspider.com/Chemical-Structure.{{db_id}}.html">ChemSpider</a>&nbsp;&nbsp;
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
