<div class="details">
    <div class="heading">
    <span>Chemical products information</span>
    {{help_tooltip("Listed here is the chemical products produced by the BGC. Multiple entries may include final product(s), intermediates, and/or isomers.", "mibig-compounds")}}
    </div>
    <div>
        {% for compound in compounds %}
        <div style="margin-bottom: 0.25em;">
            <table border="1" style="width: 100%">
                <tbody>
                    <tr style="font-size: 12pt;">
                    {% if compound["chem_struct"] %}
                    <td rowspan="{{compound.keys()|length - 1}}" width="30%" style="text-align: center;">
                        <canvas width="100%" class="smiles-canvas" data-smiles="{{compound['chem_struct']}}"></canvas>
                    </td>
                    {% else %}
                    <td rowspan="{{compound.keys()|length}}" width="30%">
                        <div width="100%" style="text-align: center;">(no structure information available)</div>
                    </td>
                    {% endif %}
                    <td colspan="2" style="padding-left: 0.5em;">
                        <strong>{{compound["compound"]}}</strong>
                    </td>
                    </tr>
                    {% for key in compound.keys() if key not in ["compound", "chem_struct"] %}
                    <tr style="font-size: 10pt;">
                        <td width="15%" style="padding-left: 0.5em;"><strong>{{key}}</strong></td>
                        <td style="padding-left: 0.5em;">
                        {% if compound[key] is iterable and compound[key] is not string%}
                        <ul style="padding:0; padding-left: 1em;">
                            {% for valu in compound[key] %}
                            <li>
                                {% if key == "chem_targets" %}
                                    {{valu['target']}}
                                    {% if valu.get('publications', [])|length > 0 %}
                                        ({{", ".join(valu['publications'])}})
                                    {% endif %}
                                {% else %}
                                 {{valu}}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                          {% if key == "mol_mass" %}
                            {{compound[key]}} g/mol
                          {% else %}
                            {{compound[key]}}
                          {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>