<div class="details">
    <div class="heading">
        <span>Chemical products information</span>
    </div>
    <div>
        {% for compound in compounds %}
        <div style="margin-bottom: 0.25em;">
            <table border="1" style="width: 100%">
                <tbody>
                    <tr style="font-size: 12pt;">
                    {% set keys = compound["keys"] %}
                    {% if "chem_struct" in compound and compound["chem_struct"]|length > 0 %}
                    <td rowspan="{{keys|length + 1}}" width="30%" style="text-align: center; vertical-align:middle;">
                        <canvas width="100%" class="smiles-canvas" data-smiles="{{compound['chem_struct']}}"></canvas>
                    </td>
                    {% else %}
                    <td rowspan="{{keys|length + 1}}" width="30%">
                        <div width="100%" style="text-align: center; vertical-align:middle;">(no structure information available)</div>
                    </td>
                    {% endif %}
                    <td colspan="2">
                        <strong>{{compound["compound"]}}</strong>
                    </td>
                    </tr>
                    {% for key in keys %}
                    <tr style="font-size: 10pt;">
                        <td width="15%"><strong>{{key}}</strong></td>
                        <td>
                        {% if compound[key] is iterable and compound[key] is not string%}
                        <ul style="padding:0; margin:0; list-style: none;">
                            {% for valu in compound[key] %}
                            <li>
                                {% if key == "chem_targets" %}
                                    {{valu['target']}}
                                    {% if valu.get('publications', [])|length > 0 %}
                                        ({{", ".join(valu['publications'])}})
                                    {% endif %}
                                {% else %}
                                 {{valu}}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                          {% if key == "mol_mass" %}
                            {{compound[key]}} g/mol
                          {% else %}
                            {{compound[key]}}
                          {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>