<div class="details">
    <div class="heading">
    <span>Annotation changelog</span>
    </div>
    <div>
        <table border="1" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 8em; text-align: center;">MIBiG version</th>
                    <th style="min-width: 15em; text-align: center;">Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td style="margin: 0; padding: 0; text-align: center; vertical-align:middle;">
                        <strong>{{log["version"]}}</strong>
                    </td>
                    <td>
                        <ul style="padding: 0; padding-left: 1em; margin: 0;">
                            {% for comment in log["comments"] %}
                            <li>{{comment}}</li>
                            {% endfor %}
                        </ul>            
                    </td>
                </tr>
                {% endfor %}                        
            </tbody>
        </table>
    </div>
</div>