$antismash-main: #006CA2;
$antismash-gray: #1d1414;
$antismash-light: #0078B8;

.mibig-gf-evidence-S { // sequence-based prediction
    color: #000;
    background-color: gray;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-O { // other in vivo study
    color: #000;
    background-color: burlywood;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-H { // heterologous expression
    color: #000;
    background-color: pink;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-K { // knock-out
    color: #000;
    background-color: greenyellow;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-A { // activity-assay
    color: #000;
    background-color: goldenrod;
    padding: 3px;
    border-radius: 6px;
}

@import "style";
// mibig-specific overrides of general style should follow here

.body-details {
    grid-column: 1 e("/") 3;  // removes sidepanel details section
}

.body-details-section {
    font-size: 0.8em; // make fonts in detail panels smaller
}

nav {
    height: 60px;  // account for taller mibig icon
}

.region-download {
    background: none;
}

#header {
    margin-bottom: 0.5em;  // replaces padding around region buttons
}

.svgene-border-mibig {
    display: none;  // hides subregions in region SVG
}

.footer {
    .container {
        font-size: small;
        margin-top: 1em;
    }
}

.modification-warning {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    color: black;
    background-color: orange;

    & .collapser-content {
        font-size: 80%;
    }
}
